<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/info.css">
    </head>

    <body>
        <div class="container">
            <div class="wrap">
                <form action="/register" class="info-form" method="POST" enctype="multipart/form-data">
                    <div class="form-control">
                        <label for="">Email</label>
                        <input name="email"></input>
                    </div>
                    <div class="form-control">
                        <label for="">Mật khẩu</label>
                        <input name="password" type="password"></input>
                    </div>
                    <div class="form-control">
                        <label for="title">Họ và tên</label>
                        <input class="" type="text" name="name">
                    </div>
                    <div class="form-control">
                        <label for="title">Ngày sinh</label>
                        <input class="" type="date" name="doB">
                    </div>
                    <div class="form-control">
                        <label for="title">Hệ số lương</label>
                        <input class="" type="text" name="salaryScale">
                    </div>
                    <div class="form-control">
                        <label for="title">Ngày vào công ty</label>
                        <input class="" type="date" name="startDate">
                    </div>
                    <div class="form-control">
                        <label for="title">Phòng ban</label>
                        <input class="" type="text" name="department">
                    </div>
                    <div class="form-control">
                        <label for="title">Role</label>
                        <select name="role">
                            <option value="Admin">Admin</option>
                            <option value="Basic">Basic</option>
                        </select>
                    </div>
                    <div class="form-control">
                        <label for="title">Email quản lý</label>
                        <input class="" type="text" name="managerEmail">
                    </div>
                    <div class="form-control">
                        <label for="image">Image</label>
                        <input type="file" name="imageFile" id="image">
                    </div>
                    <input type="hidden" name="_csrf" value="<%= csrfToken%>">
                    <button class="btn">Đăng ký</button>
                </form>
            </div>

        </div>
    </body>