table{
    margin-top:30px;
    margin-bottom:20px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table th,table td{
    padding:7px;
    text-align: center;
}

.info{
    margin-top: 20px;
}

.row {
    display: flex;
    justify-content: space-evenly;
}
h2 {
    margin-top: 20px;
}

.absent-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}
.datetime,
textarea {
    padding: 8px
}