.title{
    margin-top :50px
}
.list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top:50px;
    margin-bottom:20px;
}

.list-item{
    padding:20px 10px;
    border: 1px solid aquamarine;
    list-style-type: none;
}   
.list-item a{
    padding:20px 10px;
    color:black;
    text-decoration: none;
}

/* modal style */
.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
    position: relative;
    top:15%;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* Add Animation */
    @-webkit-keyframes animatetop {
        from {top:0; opacity:0} 
        to {top:15%; opacity:1}
    }
    
    @keyframes animatetop {
        from {top:0; opacity:0}
        to {top:15%; opacity:1}
    }

.modal-header {
    padding: 8px 16px;
    background-color: #5cb85c;
    color: white;
    }
    
.modal-body {
    padding: 15px 16px;
    font-size: 18px;
}
.modal-body p:first-child{
    margin-bottom: 10px ;
    font-size: 24px;
}
.modal-body .select-workplace{
    margin-bottom: 10px;
}
.modal-body #workplace{
    width:150px;
    height: auto;
    margin-left: 10px;
    padding:6px;
    font-size: 18px;
}
.modal-body .btn{
    padding:10px;
    background-color: rgb(80, 248, 80);
    border: none;
    cursor: pointer;
    margin-top: 5px;
    font-size: 18px;
}

.btn-checout{
    background-color: white;
    border:none;
    cursor: pointer;
}

/* responsive */
@media screen and (max-width: 768px){
    .row{
        flex-direction: column;
    }
}

@media screen and (max-width: 320px){
    
}