p {
    margin: 8px;
}
a{
    text-decoration: none;
    color:black
}

a:hover{
    cursor: pointer;
    color:aqua
}
#listStaff{
    margin-top:50px
}
#selectMonth,#selectStaff {
    padding: 8px
}

.btn {
    padding: 5px;
    background-color: rgb(80, 248, 80);
    border: none;
    cursor: pointer;
    margin-left: 5px;
    font-size: 18px;
}

.row {
    display: flex;
    margin-top: 20px;
    justify-content: flex-start;
}

.col{
    width: 50%;
}

.col h2 {
    margin: 0;
}
